* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  width: 1200px;
  margin: 0 auto;
}

.clickable {
  cursor: pointer;
}

#login-form {
  width: 60%;
}

li {
  overflow-x: auto;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'login/main';
